
/assets/game_presets/kingdom_hearts_iii/mod_packaging/persistent_files
assets/base/UnrealAutoModCLI.exe
assets/base/UnrealAutoMod.zip
/assets/base/working_dir
/assets/build_scripts/build
/assets/build_scripts/dist
assets/build_scripts/__main__.spec
/src/working_dir
/assets/base/logs
/src/unreal_auto_mod/working_dir
/dist
/build
/*.spec
/src/unreal_auto_mod/_version.py
